@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1f;

  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden{
  display: none;
}
/* scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1d1d1f;
}
::-webkit-scrollbar-thumb {
  background: #464646;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
}
.flex{
  display: flex;
}
.yellow{
  color: rgb(255, 239, 150);
}
.pop-up {
  position: fixed;
  background-color: #161617;
  max-width: 300px;
  color: white;
  border-radius: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  z-index: 50;
  padding: 30px;
  gap: 20px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 8px #1d1d1f;
}
.pop-up img{
  align-self: flex-start;
}
.form-submit{
  border-radius: 18px;
  color: white;
  width: 80%;
  max-width: 100px;
  padding: 10px;
  background-color: #161617;
  font-size:17px;
  justify-self: center;
  align-self: center;
  font-weight: 300;
}
#root{
  display: flex;
  height: max-content;
  flex-direction: column;
}
input{
  padding-left: 5px;
}