.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  color: white;
  text-decoration: none;
  padding: 30px;
  top: 0px;
  position: sticky;
  z-index: 2;
  background-color: #161617;
  text-align: center;
  margin: 10px;
  border-radius: 18px;
}
.nav-logo{
  font-weight: 500;
  font-size: 40px
}
.logo-alt{
  color: rgb(160, 160, 160);
  font-style: italic;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
}