.nav-menu{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2vh;
  font-weight: 500;
  list-style: none;
}
.search{
  display: flex;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;

}
.search input{
  border-radius: 18px;
  width: 60%;
  min-width: 50px;
}
.search-logo{
  width: 30px;;
}