.orders{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  flex-grow: 1;
}
.order{
  background-color: rgb(6, 6, 7);
  padding: 20px;
  border-radius: 18px;
  color: white;
}
.orders-title{
  margin: 20px;
  font-size: 25px;
  color: white;
}